[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
sqlalchemy = "~=2.0"
fastapi = "*"
mysqlclient = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
